@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap);

:root {
    --main-color: #1cb0f6;
    --light-main-color: #9de0ff;

    --main-grey: #e5e5e5;
    --light-grey: #eeeeee;
    --dark-grey: #1f1f1f;

    --main-red: #ff4444;
}

::-webkit-scrollbar{ width:.3pc; }
::-webkit-scrollbar-track{ background:#fff; }
::-webkit-scrollbar-thumb{ background:#c5c5c5; }

/* HTML par défaut */
* {
    outline: none;
    user-select: none;
}
*:disabled, *[aria-disabled=true] {
    opacity: .5;
    cursor: not-allowed;
}
body { 
    margin: 0;
    overflow: hidden;
}
html {
    scrollbar-width: .3pc;
    scrollbar-color: #fff #c5c5c5;
    scroll-behavior: smooth;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;

    font-family: Poppins, sans-serif;
}
a, a:hover, a:visited { text-decoration: none; }
input[type="text"] {
    border-radius: 5px;
    padding: 1vh;
    font-family: Poppins, sans-serif;
    border: 2px solid var(--main-grey);
}


/* Classes */
.button {
    font-weight: bold;
    border-radius: 5px;
    padding: 1vh 3vh;
    border: none;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0px 8px 0px 0px var(--light-main-color);
    transition: box-shadow .4s ease, transform .4s ease;
    font-family: Poppins, sans-serif;
    cursor: pointer;
}
.button:active {
    transform: translateY(8px);
    box-shadow: 0px 0px 0px 0px var(--light-main-color);
}


/* Loading screen */
#_loadingScreen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--main-grey);
    transition: transform 1s ease;
}
#_loadingScreen.loaded {transform: translateY(-150vh);}
#_loadingScreen h3 {
    font-family: Poppins;
    color: var(--dark-grey);
    animation: floating 2.5s ease infinite;
}


/* Aside */
aside {
    display: flex;
    width: 25vw;
    border-right: 2px solid var(--main-grey);
}
aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 4vh 2vw;
}
aside ul li {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color .4s ease;
    cursor: pointer;
    padding: .8vh 0 .8vh 1vw;
}
aside ul li:not(.button):hover { background-color: var(--light-grey); }
aside ul li .flags { 
    width: 2.5rem;
    margin-right: 1vw;
}
aside ul li.button {
    margin-top: 2vh;
}


/* Section */
section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
    padding: 2vh 4vw;
    overflow-x: auto;
}


/* Content table */
aside#content {
    border-right: none;
    border-left: 2px solid var(--main-grey);
    width: 30vw;
}
aside#content ul { width: 100%; }


/* Boutons portables */
button.tel {
    display: none;
    width: 1px;
    border: none;
    color: #000000d6;
    background-color: white;
    border-radius: 50px;
    font-family: Poppins, sans-serif;
    font-size: 9vw;
    font-weight: bold;
    transition: opacity .4s ease;
}
button.tel#left {
    top: 2vh;
    left: 2vh;
}
button.tel#right {
    bottom: 2vh;
    right: 2vh;
}
button.tel:hover {opacity: .5;}


/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes sizeIn {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@keyframes floating {
    0% {transform: translateY(0);}
    50% {transform: translateY(-.7pc);}
    100% {transform: translateY(0);}
}

/* Responsive */
@media screen and (max-width: 800px) {
    button.tel {display: block;}
    aside {
        width: 0 !important;
        overflow: hidden;
        border: none !important;
    }
    section {
        padding: 3vh 6vw;
    }
    li {
        padding: .8vh 0 .8vh 6vw !important;
    }
}